@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');


:root {
    --Ultramarine-100: rgba(235, 239, 249, 1);
    --Ultramarine-300: rgba(159, 173, 222, 1);
    --Ultramarine-500: rgba(68, 93, 190, 1);
    --Ultramarine-800: rgba(15, 45, 138, 1);
    --Blue-100: rgba(231, 242, 251, 1);
    --Blue-300: rgba(143, 188, 225, 1);
    --Blue-500: rgba(26, 121, 199, 1);
    --Blue-800: rgba(1, 84, 152, 1);
    --Purple-100: rgba(246, 230, 242, 1);
    --Purple-300: rgba(209, 144, 189, 1);
    --Purple-500: rgba(159, 15, 123, 1);
    --Purple-800: rgba(116, 18, 93, 1);
    --White: rgba(255, 255, 255, 1);
    --Grey-100: rgba(248, 249, 251, 1);
    --Grey-150: rgba(242, 244, 247, 1);
    --Grey-200: rgba(236, 237, 241, 1);
    --Grey-300: rgba(225, 227, 232, 1);
    --Grey-400: rgba(210, 212, 217, 1);
    --Grey-500: rgba(191, 192, 195, 1);
    --Grey-600: rgba(157, 158, 160, 1);
    --Grey-700: rgba(107, 107, 107, 1);
    --Grey-800: rgba(51, 52, 54, 1);
    --Grey-900: rgba(14, 14, 14, 1);
    --Grey-1000: rgba(5, 5, 5, 1);
}



.application {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
    overflow: hidden;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 10;

}

/* TITLE BAR */

.tb-title-bar,
.tb-title-bar * {
    box-sizing: border-box;
}

.tb-title-bar {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    z-index: 1;
}

.tb-content {
    border-style: solid;
    border-color: var(--grey-200, #ecedf1);
    border-width: 0px 0px 0.5px 0px;
    padding: 0px 20px 0px 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.button-back,
.button-back * {
    box-sizing: border-box;
}

.button-back {
    flex-shrink: 0;
    width: 40.25px;
    height: 24px;
    position: static;
}

.back-to-library {
    position: absolute;
    left: 20px;
    top: 18px;
    overflow: visible;
}

.angle-left {
    width: 12px;
    height: 24px;
    position: absolute;
    left: 35.71px;
    top: 18px;
    overflow: hidden;
}



.rol-toggle {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 191px;
    position: relative;
}

.state-icon {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.toggle-frame {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.toggle-label {
    color: var(--ultramarine-800, #0f2d8a);
    text-align: center;
    font: 400 13px/24px 'Readex Pro', sans-serif;
    position: relative;
}

.toggle-on {
    flex-shrink: 0;
    width: 56px;
    height: 24px;
    position: relative;
    overflow: hidden;
}

.toggle-background {
    background: var(--ultramarine-100, #ebeff9);
    border-radius: 12px;
    width: 56px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.toggle-thumb {
    background: var(--ultramarine-500, #445dbe);
    border-radius: 12px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1.5px;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.toggle-state-text {
    color: var(--ultramarine-500, #445dbe);
    text-align: center;
    font: var(--switchlabel, 400 10px/12px 'Readex Pro', sans-serif);
    position: absolute;
    left: 11px;
    top: 6px;
    display: flex;
    align-items: center;
    justify-content: center
}


.sidebar-spacer {
    flex-shrink: 0;
    width: 25%;
    height: 60px;
    min-width: 350px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}





/* CONTENT AREA */

.ca-content-area,
.ca-content-area * {
    box-sizing: border-box;
}

.ca-content-area {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
    position: absolute;
    height: 100%;
    overflow: hidden;
}


.ca-content {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 610px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 90px 0px 0px 0px;
    overflow: auto;
    position: relative;
    align-content: flex-start;
    flex-wrap: nowrap;
}



.article,
.article * {
    box-sizing: border-box;
}

.article {
    flex-shrink: 0;
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
    flex: 1 0 0px;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 24px;
}

.title {
    color: var(--grey-800, #333436);
    text-align: left;
    font: var(--articletitle, 700 17px/36px 'Readex Pro', sans-serif);
    position: relative;
    width: 600px;
}

.paragraph {
    color: var(--grey-800, #333436);
    text-align: left;
    font: var(--articlebody, 400 14px/36px 'Readex Pro', sans-serif);
    position: relative;
    width: 600px;
}

.wordlist-spacer {
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    position: relative;
    overflow: hidden;
}



/* LEFT SIDE TOOLS */

.wl-word-list-area {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 120px;
    position: fixed;
    top: 156px;
    left: 25px;
    overflow: hidden;
}

.wl-icon {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.wl-frame {
    padding: 0px 0px 0px 12px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 120px;
    position: relative;
    overflow: hidden;
}

.wl-word-active {
    color: var(--grey-700, #6b6b6b);
    text-align: left;
    font: var(--word-list-active, 600 13px/24px 'Readex Pro', sans-serif);
    position: relative;
    align-self: stretch;
}

.wl-word-text {
    color: var(--grey-700, #6b6b6b);
    text-align: left;
    font: var(--word-list-text, 300 12px/24px 'Readex Pro', sans-serif);
    position: relative;
    align-self: stretch;
}

.layout-button {
    flex-shrink: 0;
    position: fixed;
    left: 25px;
    bottom: 30px;
    overflow: visible;
}




/* SIDEBAR */

.sidebar,
.sidebar * {
    box-sizing: border-box;
}

.sidebar {
    background: var(--grey-100, #f8f9fb);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 25%;
    min-width: 350px;
    max-width: 400px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
}


.sb-header {
   padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
   flex-shrink: 0;
    height: 60px;
    position: relative;
   }

.sb-spacer {
   flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
   }

.sb-focus-word {
   display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
   }

.left-lens {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.word {
   color: var(--ultramarine-800, #0f2d8a);
    text-align: left;
    font: var(--focus-word, 700 24px/24px 'Readex Pro', sans-serif);
    position: relative;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.right-lens {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.sb-close-button {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.sb-section {
   padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
   }

.sb-section-title {
   padding: 0px 6px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
   }

.sb-section-title-text {
   color: var(--grey-600, #9d9ea0);
    text-align: left;
    font: var(--section-title, 400 13px/16px 'Readex Pro', sans-serif);
    text-transform: uppercase;
    position: relative;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.sb-section-area {
   background: #ffffff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.sb-content {
   padding: 20px 10px 20px 20px;
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    min-height: 130px;
    position: relative;
   }

.sb-actions {
   display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
   }

.sb-action {
   border-style: solid;
    border-color: var(--grey-200, #ecedf1);
    border-width: 0.87px 0px 0px 0px;
    padding: 0px 24px 0px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
   flex-shrink: 0;
    height: 52.45px;
    position: relative;
   }

.sb-action-label {
   display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 88.74px;
    position: relative;
   }

.sb-action-icon {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.sb-action-text {
   display: flex;
    flex-direction: row;
    gap: 8.74px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 29.72px;
    position: relative;
   }

.text {
   color: var(--grey-700, #6b6b6b);
    text-align: center;
    font: var(--action-text, 600 14px/18px 'Readex Pro', sans-serif);
    position: relative;
    display: flex;
   align-items: center;
   justify-content: center}

.sb-action-menu {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.ab-action-label {
   display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 29.72px;
    position: relative;
   }

.sb-action-icon2 {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.text2 {
   color: var(--grey-700, #6b6b6b);
    text-align: center;
    font: var(--action-text, 600 14px/18px 'Readex Pro', sans-serif);
    position: relative;
   }

.sb-action-menu2 {
   flex-shrink: 0;
    width: 21px;
    height: 24px;
    position: relative;
    overflow: hidden;
   }

.sb-section2 {
   padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
   }

.sb-section-title2 {
   display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
   }

.sb-section-content {
   background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.sb-section-content-text {
   color: var(--grey-700, #6b6b6b);
    text-align: left;
    font: var(--definition-text, 400 13px/24px 'Readex Pro', sans-serif);
    position: relative;
    align-self: stretch;
   }

.sb-section-lists {
   padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
   }

.sb-section-title3 {
   display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    width: 363px;
    position: relative;
   }

.sb-section-title-text2 {
   color: var(--grey-600, #9d9ea0);
    text-align: left;
    font: var(--section-title, 400 13px/16px 'Readex Pro', sans-serif);
    text-transform: uppercase;
    position: relative;
    flex: 1;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.sb-section-content2 {
   background: #ffffff;
    border-radius: 16px;
    padding: 20px 20px 20px 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.sb-list-icon {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.sb-section-lists2 {
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    position: relative;
   }

.list-tag {
   background: #eef9ff;
    border-radius: 3.5px;
    padding: 7px 8px 7px 8px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 24px;
    position: relative;
   }

.tag-title {
   color: #0580a4;
    text-align: left;
    font: var(--word-listtagtitle, 500 14px/16px 'Readex Pro', sans-serif);
    position: relative;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.delete-icon {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.add-icon {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }



