:root {
    --Ultramarine-100: rgba(235, 239, 249, 1);
    --Ultramarine-300: rgba(159, 173, 222, 1);
    --Ultramarine-500: rgba(68, 93, 190, 1);
    --Ultramarine-800: rgba(15, 45, 138, 1);
    --Blue-100: rgba(231, 242, 251, 1);
    --Blue-300: rgba(143, 188, 225, 1);
    --Blue-500: rgba(26, 121, 199, 1);
    --Blue-800: rgba(1, 84, 152, 1);
    --Purple-100: rgba(246, 230, 242, 1);
    --Purple-300: rgba(209, 144, 189, 1);
    --Purple-500: rgba(159, 15, 123, 1);
    --Purple-800: rgba(116, 18, 93, 1);
    --White: rgba(255, 255, 255, 1);
    --Grey-100: rgba(248, 249, 251, 1);
    --Grey-150: rgba(242, 244, 247, 1);
    --Grey-200: rgba(236, 237, 241, 1);
    --Grey-300: rgba(225, 227, 232, 1);
    --Grey-400: rgba(210, 212, 217, 1);
    --Grey-500: rgba(191, 192, 195, 1);
    --Grey-600: rgba(157, 158, 160, 1);
    --Grey-700: rgba(107, 107, 107, 1);
    --Grey-800: rgba(51, 52, 54, 1);
    --Grey-900: rgba(14, 14, 14, 1);
    --Grey-1000: rgba(5, 5, 5, 1);
}



.application {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 90px 400px 0px 180px;
    background-color: #fbffea;
    overflow: hidden;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 10;

}

.titlebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 400;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 30px;
    background-color: #ecf2f1;
    min-width: 780px;
    overflow: hidden;
    z-index: 1;
    align-content: center;
    flex-wrap: nowrap;
    border-color: var(--Grey_400, #d2d4d9);
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.article {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 862px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0px 0px 0px;
    background-color: #c1f0b5;
    overflow: hidden;
    position: relative;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 0;
    border-radius: 0px 0px 0px 0px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 400px;
    height: 798px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--Grey_100, #f8f9fb);
    overflow: visible;
    z-index: 1;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 30;
    border-radius: 0px 0px 0px 0px;
    border-color: var(--Grey_200, #ecedf1);
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width: 0px;
}

.sidebar-title {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 402px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    overflow: visible;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    border-radius: 0px 0px 0px 0px;
}

.sidebar-section {
    flex-shrink: 0;
    width: 363px;
    height: min-content;
    /* 261px */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: visible;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 10;
    border-radius: 0px 0px 0px 0px;
}

.sidebar-title {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content;
    /* 16px */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px 6px 0px 0px;
    overflow: visible;
    position: relative;
    align-content: flex-end;
    flex-wrap: nowrap;
    gap: 0;
    border-radius: 0px 0px 0px 0px;
}

.sidebar-content {
    flex-shrink: 0;
    width: 363px;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 0;
    border-radius: 16px;
}

.leftbuttons {
    position: fixed;
    top: 90;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 0px 40px 30px;
    background-color: #c46969;
    overflow: visible;
    z-index: 1;
    align-content: flex-start;
    flex-wrap: nowrap;
    border-radius: 0px 0px 0px 0px;
}