@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');


:root {
    --Ultramarine-100: rgba(235, 239, 249, 1);
    --Ultramarine-300: rgba(159, 173, 222, 1);
    --Ultramarine-500: rgba(68, 93, 190, 1);
    --Ultramarine-800: rgba(15, 45, 138, 1);
    --Blue-100: rgba(231, 242, 251, 1);
    --Blue-300: rgba(143, 188, 225, 1);
    --Blue-500: rgba(26, 121, 199, 1);
    --Blue-800: rgba(1, 84, 152, 1);
    --Purple-100: rgba(246, 230, 242, 1);
    --Purple-300: rgba(209, 144, 189, 1);
    --Purple-500: rgba(159, 15, 123, 1);
    --Purple-800: rgba(116, 18, 93, 1);
    --White: rgba(255, 255, 255, 1);
    --Grey-100: rgba(248, 249, 251, 1);
    --Grey-150: rgba(242, 244, 247, 1);
    --Grey-200: rgba(236, 237, 241, 1);
    --Grey-300: rgba(225, 227, 232, 1);
    --Grey-400: rgba(210, 212, 217, 1);
    --Grey-500: rgba(191, 192, 195, 1);
    --Grey-600: rgba(157, 158, 160, 1);
    --Grey-700: rgba(107, 107, 107, 1);
    --Grey-800: rgba(51, 52, 54, 1);
    --Grey-900: rgba(14, 14, 14, 1);
    --Grey-1000: rgba(5, 5, 5, 1);
}



.application {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 90px 400px 0px 180px;
    background-color: #ffffff;
    overflow: hidden;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 10;

}

.tb-top-bar,
.tb-top-bar * {
    box-sizing: border-box;
}

.tb-top-bar {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

.tb-content {
    border-style: solid;
    border-color: var(--grey-200, #ecedf1);
    border-width: 0px 0px 0.5px 0px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    height: 90px;
    position: relative;
    overflow: hidden;
}

.back {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.rol-toggle-frame {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 215px;
    position: relative;
}

.listening-icon {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.rol-toggle {
    padding: 2px 0px 2px 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.label {
    color: var(--ultramarine-800, #0f2d8a);
    text-align: center;
    font: 400 17.48px/20.98px 'Readex Pro', sans-serif;
    position: relative;
}

.toggle-on {
    flex-shrink: 0;
    width: 55px;
    height: 24px;
    position: static;
}

.toggle-background {
    background: var(--ultramarine-100, #ebeff9);
    border-radius: 12px;
    width: 54px;
    height: 24px;
    position: absolute;
    left: 125px;
    top: 2px;
}

.toggle-thumb {
    background: var(--ultramarine-500, #445dbe);
    border-radius: 12px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1.5px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 156px;
    top: 2px;
}

.on {
    color: rgba(68, 93, 190, 0.50);
    text-align: center;
    font: 400 12px/20.98px 'Readex Pro', sans-serif;
    position: absolute;
    left: 134px;
    top: 3.5px;
}

.tb-spacer {
    flex-shrink: 0;
    width: 25%;
    height: 90px;
    min-width: 350px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}




.ca-content-area, .ca-content-area * {
    box-sizing: border-box;
    }
.ca-content-area {
   display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    height: 857px;
    position: relative;
    overflow: hidden;
   }

.ca-content {
   padding: 120px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    position: relative;
    overflow: hidden;
   }

.ca-content-column {
   flex-shrink: 0;
    width: 600px;
    height: 1668px;
    position: static;
   }

.article {
   display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 1668px;
    position: absolute;
    left: 207.5px;
   top: 120px;
   }

.title {
   color: var(--grey-800, #333436);
    text-align: left;
    font: var(--articletitle, 700 22px/44px 'Readex Pro', sans-serif);
    position: relative;
    width: 600px;
   }

.paragraph {
   text-align: left;
    font: var(--articlebody, 400 22px/48px 'Readex Pro', sans-serif);
    position: relative;
    width: 600px;
   }


.ca-spacer {
   flex-shrink: 0;
    width: 25%;
    height: 857px;
    min-width: 350px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
   }


.sidebar,
.sidebar * {
    box-sizing: border-box;
}

.sidebar {
    background: var(--grey-100, #f8f9fb);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 25%;
    min-width: 350px;
    max-width: 400px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.header {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    height: 90px;
    position: relative;
}

.spacer {
    flex-shrink: 0;
    width: 34px;
    height: 34px;
    position: relative;
    overflow: hidden;
}

.focus-word {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.left-lens {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.word {
    color: var(--ultramarine-800, #0f2d8a);
    text-align: left;
    font: var(--focus-word, 700 24px/24px 'Readex Pro', sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.right-lens {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.close-button {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.section {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.section-title {
    padding: 0px 6px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.label {
    color: var(--grey-600, #9d9ea0);
    text-align: left;
    font: var(--section-title, 400 14px/16px 'Readex Pro', sans-serif);
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.section-area {
    background: #ffffff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.content {
    padding: 20px 10px 20px 20px;
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.action {
    border-style: solid;
    border-color: var(--grey-200, #ecedf1);
    border-width: 0.87px 0px 0px 0px;
    padding: 0px 20px 0px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    height: 52.45px;
    position: relative;
}

.label2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 88.74px;
    position: relative;
}

.icon {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.text-frame {
    display: flex;
    flex-direction: row;
    gap: 8.74px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 29.72px;
    position: relative;
}

.text {
    color: var(--grey-700, #6b6b6b);
    text-align: center;
    font: var(--action-text, 600 16px/18px 'Readex Pro', sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.menu {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.label3 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 29.72px;
    position: relative;
}

.icon2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.text-fram {
    display: flex;
    flex-direction: row;
    gap: 8.74px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 29.72px;
    position: relative;
}

.text2 {
    color: var(--grey-700, #6b6b6b);
    text-align: center;
    font: var(--action-text, 600 16px/18px 'Readex Pro', sans-serif);
    position: relative;
}

.ellipsis-1 {
    flex-shrink: 0;
    width: 21px;
    height: 24px;
    position: relative;
    overflow: hidden;
}

.section2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 363px;
    position: relative;
}

.section-title2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.label4 {
    color: var(--grey-600, #9d9ea0);
    text-align: left;
    font: var(--section-title, 400 14px/16px 'Readex Pro', sans-serif);
    text-transform: uppercase;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.content2 {
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.definition {
    color: var(--grey-700, #6b6b6b);
    text-align: left;
    font: var(--definition-text, 400 16px/24px 'Readex Pro', sans-serif);
    position: relative;
    align-self: stretch;
}

.section3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 363px;
    position: relative;
}

.section-title3 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    width: 363px;
    position: relative;
}

.conent {
    background: #ffffff;
    border-radius: 16px;
    padding: 20px 20px 20px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.group-61 {
    flex-shrink: 0;
    width: 193.7px;
    height: 34.99px;
    position: static;
}

.list-tag {
    background: #eef9ff;
    border-radius: 3.5px;
    padding: 6.99px 10.49px 6.99px 13.99px;
    display: flex;
    flex-direction: row;
    gap: 13.99px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 67.5px;
    top: 20px;
}

.tag-title {
    color: #0580a4;
    text-align: left;
    font: var(--word-listtagtitle, 500 17.48px/20.98px 'Readex Pro', sans-serif);
    position: relative;
}

.delete-icon {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.list-icon {
    position: absolute;
    left: 15px;
    top: 20.49px;
    overflow: visible;
}

.add-icon {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}




.leftbuttons {
    position: fixed;
    top: 90px;
    left: 0px;
    bottom: 0px;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 180px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 0px 40px 30px;
    background-color: #ffffff;
    overflow: visible;
    z-index: 1;
    align-content: flex-start;
    flex-wrap: nowrap;
    border-radius: 0px 0px 0px 0px;
}