@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');


:root {
    --Ultramarine-100: rgba(235, 239, 249, 1);
    --Ultramarine-300: rgba(159, 173, 222, 1);
    --Ultramarine-500: rgba(68, 93, 190, 1);
    --Ultramarine-800: rgba(15, 45, 138, 1);
    --Blue-100: rgba(231, 242, 251, 1);
    --Blue-300: rgba(143, 188, 225, 1);
    --Blue-500: rgba(26, 121, 199, 1);
    --Blue-800: rgba(1, 84, 152, 1);
    --Purple-100: rgba(246, 230, 242, 1);
    --Purple-300: rgba(209, 144, 189, 1);
    --Purple-500: rgba(159, 15, 123, 1);
    --Purple-800: rgba(116, 18, 93, 1);
    --White: rgba(255, 255, 255, 1);
    --Grey-100: rgba(248, 249, 251, 1);
    --Grey-150: rgba(242, 244, 247, 1);
    --Grey-200: rgba(236, 237, 241, 1);
    --Grey-300: rgba(225, 227, 232, 1);
    --Grey-400: rgba(210, 212, 217, 1);
    --Grey-500: rgba(191, 192, 195, 1);
    --Grey-600: rgba(157, 158, 160, 1);
    --Grey-700: rgba(107, 107, 107, 1);
    --Grey-800: rgba(51, 52, 54, 1);
    --Grey-900: rgba(14, 14, 14, 1);
    --Grey-1000: rgba(5, 5, 5, 1);
}



.application {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 90px 400px 0px 180px;
    background-color: #ffffff;
    overflow: hidden;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 10;

}

.titlebar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 400px;
    box-sizing: border-box;
    flex-shrink: 0;
    width: auto;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 30px;
    background-color: #ffffff;
    min-width: 780px;
    overflow: hidden;
    z-index: 1;
    align-content: center;
    flex-wrap: nowrap;
    border-color: var(--Grey_400, #d2d4d9);
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0.5px;
    border-left-width: 0px;
    border-right-width: 0px;
}
.rol-toggle-frame, .rol-toggle-frame * {
    box-sizing: border-box;
    }
.rol-toggle-frame {
   display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 215px;
    position: relative;
   }

.listening-icon {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.rol-toggle {
   padding: 2px 0px 2px 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
   }

.label {
   color: var(--ultramarine-800, #0f2d8a);
    text-align: center;
    font: 400 17.48px/20.98px 'Readex Pro', sans-serif;
    position: relative;
   }

.toggle-on {
   flex-shrink: 0;
    width: 55px;
    height: 24px;
    position: static;
   }

.toggle-background {
   background: var(--ultramarine-100, #ebeff9);
    border-radius: 12px;
    width: 54px;
    height: 24px;
    position: absolute;
    left: 125px;
   top: 2px;
   }

.toggle-thumb {
   background: var(--ultramarine-500, #445dbe);
    border-radius: 12px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1.5px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 156px;
   top: 2px;
   }

.on {
   color: rgba(68, 93, 190, 0.50);
    text-align: center;
    font: 400 12px/20.98px 'Readex Pro', sans-serif;
    position: absolute;
    left: 134px;
   top: 3.5px;
   }



.article {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 862px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0px 0px 0px;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 0;
    border-radius: 0px 0px 0px 0px;
}

.sidebar, .sidebar * {
    box-sizing: border-box;
    }
.sidebar {
   background: var(--grey-100, #f8f9fb);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 400px;
    position: relative;
   }

.header {
   padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 402px;
    height: 90px;
    position: relative;
   }

.spacer {
   flex-shrink: 0;
    width: 34px;
    height: 34px;
    position: relative;
    overflow: hidden;
   }

.focus-word {
   display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
   }

.left-lens {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.word {
   color: var(--ultramarine-800, #0f2d8a);
    text-align: left;
    font: 700 30px/16px 'Readex Pro', sans-serif;
    position: relative;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.right-lens {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.close-button {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.section {
   display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 363px;
    position: relative;
   }

.section-title {
   padding: 0px 6px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
   }

.label {
   color: var(--grey-600, #9d9ea0);
    text-align: left;
    font: 400 14px/16px 'Readex Pro', sans-serif;
    position: relative;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.section-area {
   background: #ffffff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 363px;
    position: relative;
    overflow: hidden;
   }

.content {
   padding: 20px 10px 20px 20px;
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
   }

.actions {
   display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
   }

.action {
   border-style: solid;
    border-color: var(--grey-200, #ecedf1);
    border-width: 0.87px 0px 0px 0px;
    padding: 0px 20px 0px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
   flex-shrink: 0;
    height: 52.45px;
    position: relative;
   }

.frame-61 {
   display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 88.74px;
    position: relative;
   }

.play-pause-auto {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.frame-60 {
   display: flex;
    flex-direction: row;
    gap: 8.74px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 29.72px;
    position: relative;
   }

.hear-it {
   color: var(--grey-700, #6b6b6b);
    text-align: center;
    font: 600 18px/20.98px 'Readex Pro', sans-serif;
    position: relative;
   }

.circle-ellipsis-3 {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.frame-612 {
   display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 88.74px;
    height: 29.72px;
    position: relative;
   }

.frame-613 {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.practice-it {
   color: var(--grey-700, #6b6b6b);
    text-align: center;
    font: 600 18px/20.98px 'Readex Pro', sans-serif;
    position: relative;
   }

.ellipsis-1 {
   flex-shrink: 0;
    width: 21px;
    height: 24px;
    position: relative;
    overflow: hidden;
   }

.section2 {
   display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 363px;
    position: relative;
   }

.section-title2 {
   display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    justify-content: center;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
   }

.label2 {
   color: var(--grey-600, #9d9ea0);
    text-align: left;
    font: 400 14px/16px 'Readex Pro', sans-serif;
    position: relative;
    flex: 1;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.content2 {
   background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.section3 {
   display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 363px;
    position: relative;
   }

.section-title3 {
   display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    width: 363px;
    position: relative;
   }

.conent {
   background: #ffffff;
    border-radius: 16px;
    padding: 20px 20px 20px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
   flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.group-61 {
   flex-shrink: 0;
    width: 193.7px;
    height: 34.99px;
    position: static;
   }

.list-tag {
   background: #eef9ff;
    border-radius: 3.5px;
    padding: 6.99px 10.49px 6.99px 13.99px;
    display: flex;
    flex-direction: row;
    gap: 13.99px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 67.5px;
   top: 20px;
   }

.tag-title {
   color: #0580a4;
    text-align: left;
    font: 500 17.48px/20.98px 'Readex Pro', sans-serif;
    position: relative;
   }

.delete-icon {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.list-icon {
   position: absolute;
    left: 15px;
   top: 20.49px;
    overflow: visible;
   }

.add-icon {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }


.leftbuttons {
    position: fixed;
    top: 90px;
    left: 0px;
    bottom: 0px;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 180px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 0px 40px 30px;
    background-color: #ffffff;
    overflow: visible;
    z-index: 1;
    align-content: flex-start;
    flex-wrap: nowrap;
    border-radius: 0px 0px 0px 0px;
}