
    div.content {
        position: relative;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 700px;
        overflow: scroll;
    }

    div.text-area {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 700px;
    }

    div.text-headline {
        font-size: 27px;
        line-height: 48px;
        padding-left: 2px;
        padding-bottom: 24px;
        font-family: "SF-Mono-Regular";
    }

    div.text-paragraph {
        padding-bottom: 32px;
    }

    div.line-of-text {
        font-size: 18px;
        line-height: 48px;
        padding-left: 2px;
        font-family: "SF-Mono-Regular";
    }

    div.highlight-area {
        top: 0px;
        left: 0px;
        width: 700px;
        z-index: 3;
        height: 100%;
    }    

    .unread {
        font-family: SF-Mono-Regular;
        color: #0E0E0E;
    }

    .reading {
        font-family: SF-Mono-Bold;
        color: #0E0E0E;
    }

    .trouble {
        font-family: SF-Mono-Bold;
        color: #0E0E0E;
    }

    .read {
        font-family: SF-Mono-Regular;
        color: #9D9EA0;
    }