body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}


#topPanel {
    background-color: rgba(255, 255, 255, 0.8) !important;
    box-shadow: 0 0 10px rgba(26, 121, 199, .01) !important;
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;
    z-index: 10 !important;
}

#bottomPanel {
    background-color: rgba(255, 255, 255, 0.8) !important;
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;
    z-index: 10 !important;
}

#sammy {
    position: fixed !important;
    /* left: 100px !important; */
    bottom: 34px !important;
    width: 100px !important;
    height: 105px !important;
    z-index: 999 !important;
}

#html-content {
    width: 710px !important;
    height: 100vh !important;
    box-sizing: border-box !important;
}

#lensStyle {
    border-radius: 24px !important;
    background-color: rgba(254, 251, 253, 0.7) !important;
    border: 2px solid rgba(177, 177, 177, 0.2) !important;
    box-shadow: 0 0 10px rgba(26, 121, 199, .1) !important;
    -webkit-backdrop-filter: blur(7px) !important;
    backdrop-filter: blur(7px) !important;
}

#canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}


.content {
    position: relative;
    overflow-y: scroll;
    height: 100vh;
    width: 710px;
    padding-right: 20px;
    box-sizing: border-box;
}

.content::-webkit-scrollbar {
    width: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.content.scrolling::-webkit-scrollbar {
    width: 4px;
    opacity: 1;
}

.content::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100vw;
    margin-block: 112px;
}

.content::-webkit-scrollbar-thumb {
    background: #EBEFF9;
    border-radius: 100vw;
}

.reference {
    position: absolute;
    right: 10px;
    bottom: 100px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.article-container {
    position: relative;
    border: 1px solid #ffe0d5;
    padding: 20px;
    overflow: visible;
    left: 0;
    width: 100%;
    top: 120px;
}

.standard-text-container {
    position: absolute;
    z-index: 1;
    /* left: 20px;
    top: 0px;
    width: 100%; */
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid #d5e1ff;
 }

.syllable-text-container {
    position: absolute;
    pointer-events: none;
    left: -2px;
    top: -2px;
    width: auto;
    height: auto;
    overflow: hidden;
}
.magic-lens {
    width: 50px;
    height: 54px;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 0px 1px #ffffff;
    overflow: visible;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
    position: absolute;
    border-radius: 8px;
    z-index: 5;
    -webkit-user-select: none;
    user-select: none;
}



.magic-lens-wrapper {
    position: absolute;
    overflow: visible;
    z-index: 100;
    width: 50px;
    height: 50px;
    transform: scale(1.0, 1.0);
    perspective: (1px)
}



.syllable-text-wrapper {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff35;
    color: #015498;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px 2px 12px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 2;
    border-radius: 8px;
    border: 2px solid #e7f2fb;
}

.grab-handle-bottom {
    flex-shrink: 0;
    align-content: center;
    align-items: center;
    min-width: 30px;
    width: 30%;
    height: 9px;
    display: block;
    bottom: -4px;
    box-shadow: 0px 0px 0px 1px #ffffff;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 0;
    position: absolute;
    border-radius: 4px;
}

.grab-handle-top {
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    flex-shrink: 0;
    min-width: 30px;
    width: 30%;
    height: 9px;
    display: block;
    bottom: 8px;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 0;
    position: absolute;
    border-radius: 4px;
    border: 2px solid var(--Blue_100, #e7f2fb);
    pointer-events: auto;
    left: 50%;
    transform: translateX(-50%);
}

.grab-handle-grab-area {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 24px;
    bottom: -12px;
}

.grabbed {
    cursor: -webkit-grabbinbg;
    cursor: -moz-grabbing;
    cursor: grabbing;

}


.article-title {
    font-size: 27px;
    line-height: 48px;
    padding-left: 2px;
    padding-bottom: 24px;
    font-family: "SF-Mono-Regular";
}

.article-title .syllable-separator {
    font-size: 14px;
}
.paragraph {
    padding-bottom: 32px;
}

.clause {
    padding-left: 2px;
    white-space: nowrap;
    height: 50px;
}

.article-body {
    font-size: 18px;
    line-height: 48px;
    font-family: "SF-Mono-Regular";
}

.article-body .syllable-separator {
    font-size: 10px;
}

.word {
    cursor: pointer;
}

.syllable-separator {
    flex-shrink: 0;
    width: auto;
    height: auto;
    white-space: pre;
    position: relative;
    font-family: "SF-Mono-Medium", monospace;
    color: rgba(181, 204, 255, 1);
    text-align: center;
    bottom: 1px;
    padding: 0px 1px 0px 1px;
}

.highlight-area {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 700px;
    height: 100%;

}

#highlight-viewport {
    height: 100%;
}


.unread,
.unread .punctuation {
    font-family: SF-Mono-Regular;
    color: #0E0E0E;
}

.reading {
    font-family: SF-Mono-Bold;
    color: #0E0E0E;
}

.trouble {
    font-family: SF-Mono-Bold;
    color: #74125D;
}

.checking {
    font-family: SF-Mono-Regular;
    color: #9D9EA0;
}

.read,
.read .punctuation {
    font-family: SF-Mono-Regular;
    color: #9D9EA0;
}