:root {
    /* Colors */
    --ultramarine-100: #ebeff9;
    --ultramarine-300: #9fadde;
    --ultramarine-500: #445dbe;
    --ultramarine-800: #0f2d8a;
    --blue-100: #e7f2fb;
    --blue-300: #8fbce1;
    --blue-500: #1a79c7;
    --blue-800: #015498;
    --purple-100: #f6e6f2;
    --purple-300: #d190bd;
    --purple-500: #9f0f7b;
    --purple-800: #74125d;
    --white: #ffffff;
    --grey-100: #f7f8fa;
    --grey-150: #f3f4f6;
    --grey-200: #edeef0;
    --grey-300: #e3e4e6;
    --grey-400: #d4d5d7;
    --grey-500: #c1c1c1;
    --grey-600: #9d9ea0;
    --grey-700: #6b6b6b;
    --grey-800: #333436;
    --grey-900: #0e0e0e;
    --black: #000000;
}


body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

#topPanel {
    background-color: rgba(255, 255, 255, 0.8) !important;
    box-shadow: 0 0 10px rgba(26, 121, 199, .01) !important;
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;
    z-index: 10 !important;
}

#bottomPanel {
    background-color: rgba(255, 255, 255, 0.8) !important;
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;
    z-index: 10 !important;
}

#sammy {
    position: fixed !important;
    /* left: 100px !important; */
    bottom: 34px !important;
    width: 100px !important;
    height: 105px !important;
    z-index: 999 !important;
}

#html-content {
    width: 710px !important;
    height: 100vh !important;
    box-sizing: border-box !important;
    overflow: visible !important;
}

#canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

#pictogram-bubble {
    z-index: 1500 !important;
    bottom: 200px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    overflow: visible !important;
}


.content {
    position: relative;
    overflow-y: scroll;
    overflow-x: visible;
    height: 100vh;
    width: 740px;
    padding-right: 20px;
    box-sizing: border-box;
}

.content::-webkit-scrollbar {
    width: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.content.scrolling::-webkit-scrollbar {
    width: 4px;
    opacity: 1;
}

.content::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100vw;
    margin-block: 112px;
}

.content::-webkit-scrollbar-thumb {
    background: #EBEFF9;
    border-radius: 100vw;
}

.reference {
    position: absolute;
    right: 10px;
    bottom: 100px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.article-container {
    position: relative;
    padding: 20px;
    overflow: visible;
    left: 0;
    width: 100%;
    top: 120px;
}

.standard-text-container {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

.syllable-text-container {
    position: absolute;
    pointer-events: none;
    left: -2px;
    top: -2px;
    width: auto;
    height: auto;
    overflow: hidden;
}

.magic-lens {
    width: 50px;
    height: 54px;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 0px 1px #ffffff;
    overflow: visible;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
    position: absolute;
    border-radius: 8px;
    z-index: 5;
    -webkit-user-select: none;
    user-select: none;
}



.magic-lens-wrapper {
    position: absolute;
    overflow: visible;
    z-index: 100;
    width: 50px;
    height: 50px;
    transform: scale(1.055, 1.055);
    perspective: (1px);
}


.syllable-text-wrapper {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #015498;
    font-family: "SF-Mono-Medium";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px 2px 12px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 2;
    border-radius: 8px;
    border: 2px solid #e7f2fb;
}

.grab-handle-bottom {
    flex-shrink: 0;
    align-content: center;
    align-items: center;
    min-width: 30px;
    width: 30%;
    height: 9px;
    display: block;
    bottom: -4px;
    box-shadow: 0px 0px 0px 1px #ffffff;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 0;
    position: absolute;
    border-radius: 4px;
}

.grab-handle-top {
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    flex-shrink: 0;
    min-width: 30px;
    width: 30%;
    height: 9px;
    display: block;
    bottom: 8px;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 0;
    position: absolute;
    border-radius: 4px;
    border: 2px solid var(--Blue_100, #e7f2fb);
    pointer-events: auto;
    left: 50%;
    transform: translateX(-50%);
}

.grab-handle-grab-area {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 24px;
    bottom: -12px;
}

.grabbed {
    cursor: -webkit-grabbinbg;
    cursor: -moz-grabbing;
    cursor: grabbing;

}


.article-title {
    font-size: 27px;
    line-height: 48px;
    padding-left: 2px;
    padding-bottom: 24px;
    font-family: "SF-Mono-Regular";
}

.article-title .syllable-separator {
    font-size: 10px;
}

.paragraph {
    padding-bottom: 32px;
}

.clause {
    padding-left: 2px;
    white-space: nowrap;
    height: 50px;
}

.article-body {
    font-size: 18px;
    line-height: 48px;
    font-family: "SF-Mono-Regular";
}

.article-body .syllable-separator {
    font-size: 10px;
}

.word {
    cursor: pointer;
}

.syllable-separator {
    flex-shrink: 0;
    width: auto;
    height: auto;
    white-space: pre;
    position: relative;
    font-family: "SF-Mono-Regular", monospace;
    color: #B8C1E7;
    text-align: center;
    bottom: 1px;
    padding: 0px 1px 0px 1px;
}

.highlight-area {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 700px;
    height: 100%;

}

#highlight-viewport {
    height: 100%;
}


.unread,
.unread .punctuation {
    font-family: SF-Mono-Regular;
    color: #0E0E0E;
}

.reading {
    font-family: SF-Mono-Bold;
    color: #0E0E0E;
}

.trouble {
    font-family: SF-Mono-Bold;
    color: #74125D;
}

.checking {
    font-family: SF-Mono-Regular;
    color: #9D9EA0;
}

.read,
.read .punctuation {
    font-family: SF-Mono-Regular;
    color: #9D9EA0;
}



/* Focus Panel & Tiles styles */

.focusElements-wrapper {
    position: absolute;
    inset: 0;
    z-index: 0;
    width: min-content;
    height: min-content;
}

.tile-container,
.tile-container * {
    box-sizing: border-box;
}

.tiles-container {
    background: var(--grey-100);
    width: min-content;
    height: min-content;
    border-radius: 12px;
    border-style: solid;
    border-color: var(--ultramarine-300);
    border-width: 2.3px;
    padding: 24px;
    display: none; /* flex */
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.2);
}

.tile-container {
    background: var(--white);
    border-radius: 7.5px;
    border-style: solid;
    border-color: var(--grey-400);
    border-width: 0.5px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 108px;
    position: relative;
    overflow: hidden;
}

.tile-title-wrapper {
    border-style: solid;
    border-color: var(--grey-400);
    border-width: 0px 0px 0.5px 0px;
    padding: 0px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 40px;
    position: relative;
    overflow: hidden;
}

.tile-title {
    color: var(--grey-900);
    text-align: left;
    font-family: "SFMono-Medium", monospace;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-user-select: none;
    user-select: none;
}

.tile-pictograms-wrapper {
    background: var(--grey-400, #d4d5d7);
    display: flex;
    flex-direction: row;
    gap: 0.5px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 72px;
    position: relative;
}

.pictogram {
    background: var(--white);
    padding: 8px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
    overflow: visible;
}

.phonetic-icon {
    flex-shrink: 0;
    width: 34px;
    height: 34px;
    position: relative;
}

.phonetic-text-wrapper {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    align-self: stretch;
    flex-shrink: 0;
    height: 18px;
    position: relative;
    overflow: visible;
}

.phonetic-ellipsis {
    color: var(--grey-400);
    text-align: left;
    font-family: "SF-Mono-Regular", monospace;
    font-size: 18px;
    line-height: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-user-select: none;
    user-select: none;
}

.phonetic-text {
    margin: 0 0 0 0px;
    color: var(--grey-700);
    text-align: left;
    font-family: "SF-Mono-Regular", monospace;
    font-size: 18px;
    line-height: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-user-select: none;
    user-select: none;
}

.phonetic-dash {
    margin-left: -2px;
    margin-right: -2px;
    color: var(--grey-500);
    text-align: left;
    font-family: "SF-Mono-Regular", monospace;
    transform: scaleX(0.6);
    font-size: 18px;
    line-height: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-user-select: none;
    user-select: none;
}

/* Content Menu styles */

.contextMenu-container,
.contextMenu-container * {
    box-sizing: border-box;
}

.contextMenu-container {
    background: var(--grey-500);
    border-radius: 12px;
    display: none; /* flex */
    flex-direction: column;
    width: min-content;
    height: min-content;
    gap: 0.5px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}

.contextMenu-item {
    background: var(--white);
    padding: 0px 32px 0px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 60px;
    min-width: 100%;
    width: min-content;
    position: relative;
    overflow: hidden;
}

.contextMenu-image-area {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.icon {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.contextMenu-text-area {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    min-width: 100px;
    position: relative;
    overflow: hidden;
}

.contextMenu-text {
    color: var(--ultramarine-800);
    text-align: left;
    font-family: "SF-Mono-Regular", monospace;
    font-size: 17px;
    line-height: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-user-select: none;
    user-select: none;
}



.contextMenu-clause {
    display: flex;
    flex-direction: row;
    gap: 1px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.contextMenu-text-separator {
    color: var(--grey-300);
    text-align: center;
    font-family: "SF-Mono-Regular", monospace;
    font-size: 8px;
    line-height: 20px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
}

/* Close button styles */

.close-focus-button {
    position: absolute;
    overflow: visible;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    display: none;  /* block */
    border-radius: 22px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}

.close-focus-icon {
    flex-shrink: 0;
    position: relative;
    width: 44px;
    height: 44px;
}