body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

#topPanel {
    background-color: rgba(255, 255, 255, 0.8) !important;
    box-shadow: 0 0 10px rgba(26, 121, 199, .01) !important;
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;
    z-index: 10 !important;
}

#bottomPanel {
    background-color: rgba(255, 255, 255, 0.8) !important;
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;
    z-index: 10 !important;
}

#sammy {
    position: fixed !important;
    /* left: 100px !important; */
    bottom: 34px !important;
    width: 100px !important;
    height: 105px !important;
    z-index: 999 !important;
}

#html-content {
    width: 710px !important;
    height: 100vh !important;
    box-sizing: border-box !important;
    overflow: visible !important;
}

#canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

#pictogram-bubble {
    z-index: 1500 !important;
    bottom: 200px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    overflow: visible !important;
}


.content {
    position: relative;
    overflow-y: scroll;
    overflow-x: visible;
    height: 100vh;
    width: 740px;
    padding-right: 20px;
    box-sizing: border-box;
}

.content::-webkit-scrollbar {
    width: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.content.scrolling::-webkit-scrollbar {
    width: 4px;
    opacity: 1;
}

.content::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100vw;
    margin-block: 112px;
}

.content::-webkit-scrollbar-thumb {
    background: #EBEFF9;
    border-radius: 100vw;
}

.reference {
    position: absolute;
    right: 10px;
    bottom: 100px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.article-container {
    position: relative;
    padding: 20px;
    overflow: visible;
    left: 0;
    width: 100%;
    top: 120px;
}

.standard-text-container {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

.syllable-text-container {
    position: absolute;
    pointer-events: none;
    left: -2px;
    top: -2px;
    width: auto;
    height: auto;
    overflow: hidden;
}

.magic-lens {
    width: 50px;
    height: 54px;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 0px 1px #ffffff;
    overflow: visible;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
    position: absolute;
    border-radius: 8px;
    z-index: 5;
    -webkit-user-select: none;
    user-select: none;
}

.overlay-window {
    box-sizing: border-box;
    width: 150px;
    height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 8px 4px 8px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    align-content: center;
    flex-wrap: nowrap;
    gap: 72;
    position: absolute;
    border-radius: 8px;
    border: 2px solid var(--Ultramarine_300, #9fadde);
    z-index: 500;
  }

  .overlay-title {
    width: 100%;
    height: min-content;
    white-space: nowrap;
    font-family: "SF-Mono-Regular", monospace;
    color: var(--Ultramarine_800, #0f2d8a);
    font-size: 18px;
    line-height: 48px;
    text-align: center;
  }

  .overlay-title .syllable-separator {
    font-size: 14px;
}

  .overlay-title-text {
    flex-shrink: 0;
    width: auto; /* 134px */
    height: auto; /* 29px */
    white-space: pre;
    position: relative;
    white-space: nowrap;
  }

.overlay-syllable {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 200px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-content: center;
    flex-wrap: nowrap;
    gap: 72;
    position: absolute;
    z-index: 500;
    display: flex;
    background-color: #ffffff33;
    border-radius: 8px;
    padding: 4px, 8px, 4px, 8px;
    border: 2px solid #9FADDE;
    box-shadow: 0px 0.602px 3.010px -0.333px rgba(0, 0, 0, 0.06), 0px 2.288px 11.442px -0.6666px rgba(0, 0, 0, 0.08433), 0px 10px 50px -1px rgba(0, 0, 0, 0.2);
}

.current-syllable {
    position: relative;
    flex-shrink: 0;
    white-space: pre;
    width: auto;
    height: auto;
    font-size: 18px;
    line-height: 48px;
    font-family: "SF-Mono-Regular";
    text-align: center;
    color: #0f2d8a;
}



.magic-lens-wrapper {
    position: absolute;
    overflow: visible;
    z-index: 100;
    width: 50px;
    height: 50px;
    transform: scale(1.055, 1.055);
    perspective: (1px);
}


.syllable-text-wrapper {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #015498;
    font-family: "SF-Mono-Medium";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px 2px 12px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 2;
    border-radius: 8px;
    border: 2px solid #e7f2fb;
}

.grab-handle-bottom {
    flex-shrink: 0;
    align-content: center;
    align-items: center;
    min-width: 30px;
    width: 30%;
    height: 9px;
    display: block;
    bottom: -4px;
    box-shadow: 0px 0px 0px 1px #ffffff;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 0;
    position: absolute;
    border-radius: 4px;
}

.grab-handle-top {
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    flex-shrink: 0;
    min-width: 30px;
    width: 30%;
    height: 9px;
    display: block;
    bottom: 8px;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 0;
    position: absolute;
    border-radius: 4px;
    border: 2px solid var(--Blue_100, #e7f2fb);
    pointer-events: auto;
    left: 50%;
    transform: translateX(-50%);
}

.grab-handle-grab-area {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 24px;
    bottom: -12px;
}

.grabbed {
    cursor: -webkit-grabbinbg;
    cursor: -moz-grabbing;
    cursor: grabbing;

}


.article-title {
    font-size: 27px;
    line-height: 48px;
    padding-left: 2px;
    padding-bottom: 24px;
    font-family: "SF-Mono-Regular";
}

.article-title .syllable-separator {
    font-size: 14px;
}

.paragraph {
    padding-bottom: 32px;
}

.clause {
    padding-left: 2px;
    white-space: nowrap;
    height: 50px;
}

.article-body {
    font-size: 18px;
    line-height: 48px;
    font-family: "SF-Mono-Regular";
}

.article-body .syllable-separator {
    font-size: 10px;
}

.word {
    cursor: pointer;
}

.syllable-separator {
    flex-shrink: 0;
    width: auto;
    height: auto;
    white-space: pre;
    position: relative;
    font-family: "SF-Mono-Medium", monospace;
    color: rgba(181, 204, 255, 1);
    text-align: center;
    bottom: 1px;
    padding: 0px 1px 0px 1px;
}

.highlight-area {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 700px;
    height: 100%;

}

#highlight-viewport {
    height: 100%;
}


.unread,
.unread .punctuation {
    font-family: SF-Mono-Regular;
    color: #0E0E0E;
}

.reading {
    font-family: SF-Mono-Bold;
    color: #0E0E0E;
}

.trouble {
    font-family: SF-Mono-Bold;
    color: #74125D;
}

.checking {
    font-family: SF-Mono-Regular;
    color: #9D9EA0;
}

.read,
.read .punctuation {
    font-family: SF-Mono-Regular;
    color: #9D9EA0;
}





.pictograph-container {
    box-sizing: border-box;
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 16px 16px 16px;
    background-color: #ffffff;
    overflow: hidden;
    align-content: center;
    flex-wrap: nowrap;
    gap: 16px;
    position: absolute;
    border-radius: 8px;
    z-index: 10;
    border: 2px solid #E7F2FB;
    -webkit-user-select: none;
    user-select: none;
    box-shadow: 0px 0px 10px 0px var(--Grey_200, #edeef0)
    /* {"name":"Grey 200"} */
    ;
}

.syllable-group {
    box-sizing: border-box;
    flex-shrink: 0;
    width: min-content;
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 2px;
    border-radius: 6px;
    border: 2px solid #e3e4e6;
    background-color: #e3e4e6;
}

.pictograph-tile {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 64px;
    height: 88px;
    display: block;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
}

.pictograph-text-container {
    box-sizing: border-box;
    width: 64px;
    height: 28px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 0;
    position: absolute;
    border-radius: 0px 0px 0px 0px;
    border-color: #e3e4e6;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}


.slot-1 {
    box-sizing: border-box;
    flex-shrink: 0;
    flex: 1 0 0px;
    width: 1px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 1px 2px 2px;
    min-width: 13px;
    overflow: visible;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
    border-color: var(--Grey_300, #e3e4e6);
    border-style: dotted;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
}

.pictograph-text-wrapper {
    flex-shrink: 0;
    flex: 1 0 0px;
    width: 1px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: visible;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
    border-radius: 0px 0px 0px 0px;
}

.pictograph-text {
    flex-shrink: 0;
    width: auto;
    height: auto;
    white-space: pre;
    position: relative;
    font-family: "SF-Mono-Bold", monospace;
    color: #0e0e0e;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
}

.slot-2 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 13px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 2px 0px 2px;
    min-width: 13px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
    border-radius: 0px 0px 0px 0px;
    border-color: var(--Grey_300, #e3e4e6);
    border-style: dotted;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
}

.slot-3 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 13px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 2px 0px 2px;
    min-width: 13px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
}

.pictograph-image-container {
    width: 60px;
    height: 57px;
    display: block;
    overflow: hidden;
    position: absolute;
    border-radius: 0px 0px 0px 0px;
}